.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.25rem;
    width: 100%;
    position: fixed;
    bottom: 0;

    span:nth-of-type(2) {
        text-align: center;
    }
}

.span{
    color: white;
    margin-left: 4.813rem;
    margin-right: 4.813rem;
    font-size: 0.75rem;
    font-weight: 300;
}
