.app {
  background-color: rgb(5, 5, 5);
}

.title{

  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 5.5rem;
  margin-bottom: 1.438rem;
  font-weight: 500;
  letter-spacing: -0.07em;

    span{
      background: linear-gradient(90deg, #FB3B02, #A2C824);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-family: "Space Grotesk", sans-serif;
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: -0.07em;
    }

}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem; /* aumenta o espaçamento entre os botões */
  margin-top: 3.29rem;
}

.cta-button {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  height: 2.938rem;
  width: 12.35rem;
  border-radius: 2rem;
  border: 0.5px solid rgba(255, 255, 255, 0.431);
  background-color: #ff3c00;
  color: white;
  position: relative;
  box-sizing: border-box;
}

.cta-button p {
  margin-left: 1.54rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}

.cta-button span {
  position: absolute;
  right: 0.18rem;
  transform: translateY(0.5px);
  background-color: white;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button .arrow-icon path {
  fill: #FB3B02;
}

.btn-second {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2.938rem;
  width: 7.5rem;
  border-radius: 1.563rem;
  border: 0.5px solid rgba(255, 255, 255, 0.264);
  background-color: transparent;
  color: white;
}

.btn-second p {
  font-weight: 200;
  font-size: 0.85rem;
}